{% extends 'base.html.twig' %}

{% block title %}Symfony Docker CI Demo{% endblock %}

{% block body %}
    <div class="container my-4">
        PROJET FATOU KINÉ
        <br />
        <div id="root">This will be modified by Javascript</div>
    </div>
{% endblock %}